<form class="form-control" {{on "submit" this.search}}>
  <label for="search" class="label">
    <span class="label-text">Search</span>
  </label>
  <div class="relative">
    <Input id="search" @value={{this.searchTerm}} placeholder="Phone or Email"
      class="w-full pr-16 input input-primary input-bordered {{if this.loadingFailed "input-error"}}"
      {{on "input" this.updateSearchTerm}} />
    {{#if this.loadingFailed}}
      <label class="label">
        <span class="label-text-alt">Could not find any client</span>
      </label>
    {{/if}}
    <button type="submit"
      class="absolute top-0 right-0 rounded-l-none btn btn-primary {{if this.loading "loading"}}"
      disabled={{this.submissionDisabled}}>{{#unless this.loading}}Go{{/unless}}</button>
  </div>
</form>
